---
layout: default
---
<!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-md-7 offset-md-1 col-xs-12 mb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Georgia Tech College of Computing Appathon 2019</h5>
					<p class="card-text">
						<h4>
							<a href="https://gt-coc-appathon-2019.devpost.com/">Devpost</a>
							<br>
							<a href="https://join.slack.com/t/appathon2019/shared_invite/enQtNzk2NjA2NjA2ODM0LWE3MzMyZjdhN2UyYjEzNWI4ZDllMGIwNjEzZDIyYTIxNGNhZTczZDk5NjUxY2ZlMTdmNDFkNjJhNTBmMTJiMDI">Slack</a>
							<br>
							<a href="https://hackcodeofconduct.org/1239-georgia_tech_college_of_computing_appathon_2019">Code of Conduct</a>
						</h4>
						<br><br>
						Contact Info:
						<br>
						Kenneth Kannampully: (717) 354-8181
						<br>
						Jason Tu: (610) 850-5941
					</p>
					<br><br>
					<h5 class="card-title">Schedule</h5>
					<p class="card-text">Quiet room: Klaus 2443<br>Loud room: Klaus 2447</p>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Date</th>
								<th>Topic</th>
							</tr>
						</thead>
						<tbody>
							{% for item in site.data.appathon2019 %}
								<tr>
									<td>{{ item.date }}</td>
									<td>
										{% if item.link == null%}
											{{ item.topic }}
										{% else %}
											<a href="{{ item.link }}">{{ item.topic }}</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="offset-md-1 col-md-2 col-xs-12">
			<div class="card">
				<div class="fb-page" data-href="https://www.facebook.com/gitmad" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gitmad" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gitmad">GIT MAD: Georgia Institute of Technology Mastering Android Development</a></blockquote></div>
			</div>
		</div>
	</div>

</div>


<div class="container p-2">
	<small class="text-muted" id="android_disclaimer">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.</small>
</div>
